.passportc ul, .passportc ol, .passportc li, .passportc span, .passportc p, .passportc form { margin: 0px; padding: 0px; border: 0px none; }
.passportc ul, .passportc ol, .passportc li { list-style: none outside none; }
.passportc { height: 158px; font-size: 12px; text-align: left; position: absolute; left: 50%; top: 30%; width: 320px; border: 2px solid rgb(167, 196, 238); border-radius: 5px 5px 5px 5px; margin-left: -160px; margin-top: -80px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }
.passportc b {  }
.pptitle, .pptitle2 { line-height: 30px; padding: 0px 0px 0px 8px; }
.pptitle { font-weight: bold; }
.ppcontent { height: 126px; position: relative; padding: 7px 0px 0px 10px; }
.passportc .error { color: rgb(255, 96, 0); height: 15px; }
.passportc .card { font-weight: normal; padding: 0px 0px 0px 25px; color: rgb(49, 48, 49); }
.passportc .card li { margin: 2px 0px 7px ! important; }
.passportc .card .sign {  }
.passportc .card .ppinput { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 12px; margin: 0px; width: 165px; border: 1px solid rgb(167, 196, 238); height: 21px; padding: 0px 2px; }
body {  }
