<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="imagetoolbar" content="no">
<title>嘀嘀派，买车选车一步到位</title>
<style type="text/css">
	*{margin:0;padding:0;}
	.sys{
		position:relative;
		width:1126px;
		height:546px;
		margin:100px auto 0;
		background:url(/images/start.png) no-repeat;
	}
	.sysIndex{width:590px; height:500px; position:absolute;left:619px;top:62px;}
	body{
		background:#d5d4d4;
	}
</style>
</head>
<body>
<div>
	<div class="sys">
		<a href="http://www.didipai.com" class="sysIndex"></a>
	</div>
</body>
</html>
